<h1>閲覧</h1>
<p>物件名:<%= @property.name %></p>
<p>賃料:<%= @property.money %>円</p>
<p>住所:<%= @property.address %></p>
<p>築年数:<%= @property.age %>年</p>
<p>備考:<%= @property.content %></p>

<Hr>

<% @property.nearest_stations.each do |nearest_station| %>
<h2>最寄り駅</h2>
<p>路線名:<%= nearest_station.route %></p>
<p>駅名:<%= nearest_station.station %></p>
<p>徒歩分数:<%= nearest_station.minute %></p>
<% end %>

<%= link_to "一覧に戻る", properties_path %>
